<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#ticket}}Editar Ingresso{{/ticket}}{{^ticket}}Adicionar Ingresso{{/ticket}}</title>
  <link rel="stylesheet" href="/css/registerOrEditTicket.css"> 
<body>
  <div class="container">
    <h1>{{#ticket}}Editar Ingresso{{/ticket}}{{^ticket}}Adicionar Ingresso{{/ticket}}</h1>
    <form action="{{#ticket}}/ticket/admin/tickets/edit/{{_id}}{{/ticket}}{{^ticket}}/ticket/admin/tickets{{/ticket}}" method="POST">
      <label for="name">Nome do Ingresso:</label>
      <input type="text" id="name" name="name" value="{{#ticket}}{{name}}{{/ticket}}" required />
      
      <label for="price">Preço:</label>
      <input type="number" id="price" name="price" step="0.01" value="{{#ticket}}{{price}}{{/ticket}}" required />
      
      <label for="quantity">Quantidade Disponível:</label>
      <input type="number" id="quantity" name="quantity" value="{{#ticket}}{{quantity}}{{/ticket}}" required />
      
      <button type="submit">{{#ticket}}Salvar Alterações{{/ticket}}{{^ticket}}Adicionar Ingresso{{/ticket}}</button>
    </form>
    <a href="/ticket" class="cancel-link">Cancelar</a>
  </div>
</body>
</html>