<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico de Compras</title>
  <link rel="stylesheet" href="/css/history.css"> 
</head>
<body>
  <!-- Mensagem de Boas-Vindas -->
  <p>Bem-vindo, {{username}}!</p>

  <h1>Histórico de Compras</h1>
  {{#purchases}}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <p><strong>Data da Compra:</strong> {{createdAt}}</p>
      <p><strong>Total Pago:</strong> R$ {{totalPrice}}</p>
      <h3>Ingressos Comprados:</h3>
      <ul>
        {{#tickets}}
          <li>
            <strong>{{ticket.name}}</strong> - Quantidade: {{quantity}} - Preço Unitário: R$ {{ticket.price}}
          </li>
        {{/tickets}}
      </ul>
    </div>
  {{/purchases}}
  {{^purchases}}
    <p>Você ainda não realizou nenhuma compra.</p>
  {{/purchases}}
  <a href="/ticket">Voltar para Ingressos</a>
</body>
</html>